h1{
    border: dotted;
    border-width: 5px;
    border-color: aqua;
    border-radius: 8px;

    text-shadow: 3px 3px 6px red, -3px -3px 6px rgb(1, 187, 201);
}

#p1{
    border: 3px solid red;
    border-radius: 10px;
}

#p2{
    border-bottom: 3px solid yellow;
    border-top: 2px ridge orange;
    border-left: 3px dashed green;
    border-right: 5px inset purple;
    
    border-radius: 10px;
}

#box1{
    height: 100px;
    width: 100px;

    background-color: rgb(39, 73, 102);
    box-shadow: 3px 3px 5px green;
}