h1::first-letter{
    font-size: 2em;
    font-style: italic;
}

p::first-line {
    background-color: aliceblue;
}
p::selection{
    background-color: rgb(60, 255, 0);
    color: rgb(129, 0, 11);
}

#groceries li::before {
    content: "🛒";
}
#apple::after{
    content: "🍎";
}
#cider::after{
    content: "🍺";
}
#vinegar::after{
    content: "🚀";
}

#groceries li::marker{
    content: "✔️";
    color: limegreen;
    font-size: 1.2em;
}