body {
    margin: 0;
}
.box {
    height: 150px;
    width: 150px;
    border: 5px solid;
    font-size: 3em;
    text-align: center;

    transform: translateX(100%) translateY(50px);
    transform: translate(100%, 150px); /* alternative */

    transform: rotateX(180deg) rotateZ(50deg);
    transform: rotate(180deg 0 50deg);

    transform: scaleX(1.8);
    transform: scale(1.5 , 2);

    transform: skewX(1rad);
    transform: skewY(1rad);

    transform: translate(100px, 200px) rotate(20deg) scale(2);
}

#box1 {
    background-color: aquamarine;
}
#box2 {
    background-color: hsl(115, 100%, 75%);
}
#box3 {
    background-color: hsl(241, 100%, 75%);
}